.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: white;
}

.page #Bugs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 100%;
}

.page #Bugs a {
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
}

.page #Bugs p {
  border-radius: 5px;
  margin-bottom: -5px;
}



a {
  text-decoration: None;
  color: white;
}


.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding-left: 310px;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 70px;
  flex-wrap: wrap;
  color: white;
  box-sizing: border-box;
  overflow-y: scroll;
}

.links .link{
  position: relative;
  text-align: center;
  text-wrap: wrap;
  max-width: 20%;
  min-width: 200px;
  padding: 5px 20px;
  border-radius: 20px;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.2s ease-in-out;
}

.links .link:hover {
  transform: scale(1.05);
  background: rgba(255,255,255,0.1);
  outline: 1px solid;
}

.links .link:hover .Chrismas-Hat{
  display: inline;
}

.links .link:focus {
  transform: scale(1.05);
  background: rgba(255,255,255,0.1);
  outline: 1px solid;
}

.links .link:focus .Chrismas-Hat{
  display: inline;
}

.links .link img{
  border-radius: 10px;
  width: 100%;
  opacity: 90%;
}

.links .link h1 {
  font-size: 18px;
}
.links .link p {
  font-weight: 300;
  font-size: 16px;
}

.copy-buttons button {
  font-family: roboto;
  color: white;
  border: 1px solid rgba(255,255,255,0.1);
  background: transparent;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  align-self: center;

}

.copy-buttons button:hover {
  background: rgba(255,255,255,0.1);
  outline: 1px solid;
}

.copy-buttons button sub {
  font-weight: 300;
}

.copy-links {
  display: flex;
  width: 100vw;
  height: auto;
  gap: 20px;
  justify-content: space-evenly;
  margin-bottom: 10px;
}


.copy-buttons {
  width: 300px;
  position: fixed;
  top: 70px;
  left: 0px;
  height: 100vh;
  gap: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none;
  padding: 5px;
  box-sizing: border-box;
  padding-bottom: 100px;
  z-index: 10;

}

.copy-buttons::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}


.snowflake {
  position: absolute;
  top: -100px;
  font-size: 50px;
  height: 100px;
  width: 100px;
  user-select: none;
  pointer-events: none;
  animation: fall 5s linear forwards;
  transition: 1s;
  z-index: 4;
  background-image: url(Assests/snowflake.png);
  background-size: cover;
  opacity: 30%;
}

.Chrismas-Hat {
  position: absolute;
  display: None;
  height: 100px !important;
  width: auto !important;
  opacity: 100% !important;
  left: 82%;
  bottom: 80%;
  transform: rotate(5deg);
  z-index: 5 !important;
}

#snow-toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 3px inset rgba(255, 255, 255, 0.6);
  border-radius: 40px;
  width: 65px;
  height: 35px;
  box-sizing: border-box;
  padding: 5px;
  background: green;
}

#snow-toggle #ball {
  height: 25px;
  width: 25px;
  background: white;
  border-radius: 30px;
  transition: 1s ease-in;
}

@keyframes fall {
  to {
    transform: translateY(80vh) rotate(360deg);
  }
}